// --------------------------- global CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $body;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    padding: 3px;
    width: 540px;
    display: block;
    margin: 20px auto;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    background: yellow;
    margin-bottom: $p;
}
