// -----styles for inputs
.wrap-input {
    padding: $m;
    // display: none;
    &:nth-of-type(odd) {
        background: lighten($g, 30)
    }
   
    input:not(.col-3) {
        display: block;
        margin-bottom: 10px;
        ;
        padding: 3px;
        width: 100%;
    }
    &.col-3 {
        input {
            width: 32.25%;
            float: left;
            margin-right: 1%;
        }
    }
}

section,
form {
    border: $b;
    margin: $m 0;
}

.generated-card,
.iframe,
.submit,
.compile {
	display: none;
}

button {
	width: 100%;
    display: block;
    margin: 10px 0;
    background: $c;
    color: $w;
    padding: $p;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: darken($c, 10);
        @include t;
    }
}

.match {
	background-color: yellow;
	opacity: 1;
}