$body: 'Roboto', Arial, sans-serif;
$hed: "Raleway", Georgia;



$lg: #999;
$g: #a1a1a1;
$dg: #333;

$w: #fff;


$c: #16a085;

$b: 1px solid #eee;


$p: 3%;
$m: 10px;

$sm: 5px;

$fw-reg: 400;
$fw-bold:  600;